@import url(./__image/experience__image.css);
@import url(./__container/experience__container.css);
@import url(./__span/experience__span.css);
@import url(./__text/experience__text.css);
@import url(./__title/experience__title.css);
@import url(./__elements/experience__elements.css);

.experience{
  margin-bottom: 0px;
  background-color: #f2f5f8;
  width: 100%;
}
