.how-it-works__content-title{
  width: 100%;
  max-width: 620px;
  font-size: 40px;
  line-height: 124%;
  text-align: center;
  margin: 0;
  color: #00376E;
  font-weight: 700;
  padding-bottom: 84px;
}
