.fees__content-title{
  text-align: center;
  color: #00376E;
  font-weight: 700;
  font-size: 40px;
  line-height: 124%;
  padding-top: 0;
  margin: 0;
  padding-bottom: 58px;
  width: 100%;
  max-width: 1440px;
}
