.leadform__input{
  margin-right: 26px;
  width: 218px;
  height: 52px;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #333;
  background-color: #fff;
  border-radius: 3px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  padding: 15px 0px 15px 16px;
}

.leadform__input:nth-child(3){
  margin: 0;
}
