.how-it-works__text{
  line-height: 25px;
  font-size: 18px;
  padding-top: 27px;
  margin-left: 0px;
  margin-bottom: 24px;
  margin-right: 0px;
  font-weight: 500;
  color: #898E93;
  text-align: center;
}
